@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.sunnyDay {
  background-color: #7cb2f2;
}

.sunnyDaySections {
  background-color: #90bef0;
}

.cloudyDay {
  background-color: #8c8fde;
}

.cloudyDaySections {
  background-color: #b8b5ff;
}

.rainyDay {
  background-color: #58afc2;
}

.rainyDaySections {
  background-color: #87b7c5;
}

.snowyDay {
  background-color: #3d4470;
}

.snowyDaySections {
  background-color: #626689;
}

.nightTheme {
  background-color: #505366;
}

.nightThemeSections {
  background-color: #6c6e7b;
}

@media screen and (min-width: 1024px) {
  .hourlyForecast::-webkit-scrollbar {
    height: 10px;
    background-color: inherit;
  }

  .hourlyForecast::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
  }

  .hourlyForecast::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #818181;
  }
}
